/* @import './base.css'; */

#app {
  font-weight: normal;
}

* {
  color: #bababa;
  font-family: serif;
}

body {
  overflow-y: auto;
  margin: 0;
  background-image: url('/public/act1/background.png');
  backdrop-filter: blur(8px) brightness(50%) sepia(85%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 0%;
  background-color: #181818;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

::selection {
  color: black;
  background: #bababa;
}

.tagList {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.snappy {
  transition-duration: 125ms;
}